<!doctype html>
<html>
  <head>
    <title>About {{author.name}}</title>
    <meta name="author" content="{{author.name}}">
    <meta name="description" content="{{{author.description}}}">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,300italic">
    <!-- <link rel="stylesheet" href="/prism.css"> -->
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>

    <!-- Header -->
    <header class="header">
      <div class="author">
        <a href="/"><img class="author-gravatar" src="{{author.gravatar}}" /></a>
        <h1 class="author-name">
          About
        </h1>
      </div>
    </header>

    <!-- Index -->
    <main class="main index">
      Hi! I'm an entreprenuer living in San Franciso, California.
      <br>
      <br>
      <strong>Present</strong>
      <div>
        <ul>
          <li>
            I'm currently taking time off work and figuring out what's next. 
          </li>
          <li>
            I occasionally invest in startups as a Founder Partner with <a href="http://www.foundercollective.com">Founder Collective</a>
          </li>
      </div>
      <br>
      <strong>Past</strong>
      <div>
        <ul>
          <li>Most recently, I co-founded and led <a href="https://firebase.google.com">Firebase</a> from inception through acquisition, and on to become Google's flagship app development platform.</li>
          <li>I co-founded 3 other startups with <a href="twitter.com/startupandrew">Andrew Lee</a>.</li>
          <li>I studied Industrial and Systems Engienering at the Univeristy of Wisconsin and Univeristy of Warwick</li>
          <li>I was born and raised in Reading, England</li>
        </ul>
      </div>
      <br>
      <strong>Around the Internet</strong>
      <div>
        <ul>
          <li>
            Find me on <a href="twitter.com/jamestamplin">Twitter</a> and <a href="linkedin.com/in/jamest">LinkedIn</a>
          </li>
          <li>
            Watch some of the talks I've given.
          </li>
        </ul>
      </div>

    </main>

    <!-- Navigation -->
    <nav class="nav">
      <div class="nav-mark">
        <img class="nav-icon" src="/icon.svg" />
        <div class="author-bio"><a href="/">back home</a></div>
      </div>
    </nav>

    <!-- Footer -->
    <footer class="footer">
    </footer>

    <script src="/index.js"></script>

    {{#segment}}
      <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
          analytics.load('{{segment}}');
          analytics.page('Home');
        }}();
      </script>
    {{/segment}}
    {{#author.twitter}}
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    {{/author.twitter}}
  </body>
</html>
